---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Greg",
  country: "United States",
  occupation: "Senior UX Designer",
  hobbies: ["watercolor painting","photography", "birdwatching", "hiking", "flatwater kayaking"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Astro",
  "Markdown",
  "Technical Writing",
  "UX Strategy",
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style is:global define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>

  <p>Here are a few facts about me:</p>

  {happy && <p>I am happy to be learing Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {goal && <p>My goal is to finish in less than three days.</p>}

  <ul>
    <li>First Name: {identity.firstName}</li>
    <li>Country: {identity.country}</li>
    <li>Occupation: {identity.occupation}</li>
    <li>Hobbies: {identity.hobbies.join(", ")}</li>
  </ul>

  <p>My skills include:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>

